body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 40px;
}


.orange {

    color: orange;
}

.flexible_container {
    display: flex;
    margin-bottom: 40px;

}

.left {
    width: 50%;


}

.right {
    width: 50%;
    margin-left: 20px;

}

p {
    text-align: justify;
    font-weight: 800;
}

.right img {
    width: 100%;
}

.button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream_big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
    padding-top: 50px;


}

.left_half img {
    width: 80%;
}

.right_half {
    width: 50%;
}

.exp {
    padding-left: 15px;
    width: 40%;
    margin-left: 60PX;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;
}