body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 40px;

}

.left {
    width: 50%;
    padding-left: 5%;
}

p {
    text-align: justify;
    font-weight: 800;
}

.right img {
    width: 100%;
}

.button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream_big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
    padding-bottom: 260px;

}

.left_half img {
    width: 80%;
}

.right_half {
    width: 50%;
}